html, body{ height:100%;  width:100%;  margin:0}
body{ padding-top:85px}
.jumpto{ margin-top:-110px;   padding-bottom:110px;  display:block}

.tableIcon{ height:34px;  width:34px}
.table-custom{ width:0}

.logo-ifrc{ height:100%;  background:#fff}
.logo-prc{ height:60px;  margin-right:20px}

.responsesBar{ width:100%;  height:30px}
.question-block{ margin-bottom:20px}
.response-bar.agree{ fill:#66bd63;  background:#66bd63}
.text-agree{ color:#66bd63;  font-weight:900}
.response-bar.neither{ fill:#f46d43;  background:#f46d43}
.text-neither{ color:#f46d43;  font-weight:900}
.response-bar.disagree{ fill:#a50026;  background:#a50026}
.text-disagree{ color:#a50026;  font-weight:900}
.response-bar.dk{ fill:#979797;  background:#979797}
.text-dk{ color:#979797;  font-weight:900}
.response-bar.noResponse{ fill:#d7d7d7;  background:#d7d7d7}
.text-noResponse{ color:#d7d7d7;  font-weight:900}

.nav-admin{ height:85px;  position:fixed;  top:0;  width:100%;  background:#222;  padding:15px;  z-index:99999}
.nav-text{ font-weight:500;  font-size:18px;  color:#f5f5f5}
.nav-text small{ font-weight:400;  font-size:14px;  color:#a0a1a3}

 #loading-wrapper{  text-align:center}
#loader{ width:150px;  margin-bottom:10px}
.progress{ width:150px;  margin:10px auto}
.progress-bar{ background-color:#c6c7c8}

#loading-progress{ margin:30px auto;  width:180px;  border-radius:4px;  background:#f5f5f5;  box-shadow:0 1px 5px rgba(0,0,0,0.65);  padding:15px 0}

.box-chart svg{ height:auto;  padding:30px}
.box-chart-no-float svg{ height:auto;  padding:30px}
.percText-other1{ color:#222;  font-weight:900}
.percText-1{ color:#7fc97f;  font-weight:900}
.percText-2{ color:#fdc086;  font-weight:900}
.percText-3{ color:#ffff99;  font-weight:900}
.box-chart{ width:180px;  height:180px;  text-align:center;  float:right}
.box-chart-no-float{ width:180px;  height:180px;  text-align:center}
.text-tagalog{ color:#999}

.btn:focus, .btn:active{ outline:0 !important}
